<div class="chat_modal_wrap md_modal_wrap" my-modal-position style="min-width: 600px">

  <div class="md_modal_head" style="min-width: 600px">
    <div class="md_modal_title_wrap">
      <div class="md_modal_actions_wrap clearfix">
        <a class="md_modal_action md_modal_action_close" ng-click="$close()" my-i18n="modal_close"></a>
      </div>
      <div class="md_modal_title" my-i18n="group_modal_send_bulk_message"></div>
      <p>{{feedback}}</p>
    </div>
  </div>

  <div class="md_modal_body" style="min-width: 600px; min-height: 150px; background-color: white">

    <div style="min-width: 600px; min-height: 150px"></div>

    <div class="im_send_panel_wrap noselect">

  	  <div class="im_send_form_wrap1">

  	    <div class="im_send_form_wrap clearfix">

  	      <a class="pull-left im_panel_own_photo" img-class="im_panel_own_photo" watch="true" ng-click="openSettings()" no-open="true"></a>

  	      <my-bulk-message-form draft-message="draftMessage" mentions="mentions" commands="commands" reply-keyboard="historyState.replyKeyboard"/>

  	    </div>

  	  </div>

	  </div>
  </div>

  <!--div class="md_modal_footer" style="min-width: 600px; height: 48px; background-color: white">
    <p style='text-align: center'>{{feedback}}</p>
  </div-->
</div>